/*Site colors
	Tan-Brown: e0cbb8;
	Green: E3FFDC;
	Pink: F275D4;
	Purple: CCCCFF;
	Aqua: 99ECFF;
	Dark Blue: 002F70;
	*/

/*@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Montserrat:wght@300;400&display=swap');

body {
	font-family: "Monstserrat", sans-serif;
	font-size: 18px;
	color: #002F70;
}

h1 {
	font-family: 'Londrina Solid', cursive;
}

h2, h3, h4, h5 {
	font-family: 'Londrina Solid', cursive;;
	font-size: 35px;
}

/*Navigation*/

.nav-bar {
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: center;
	height: 250px;
/*	background-color: #E3FFDC;*/
}

.nav-items {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.logo-nav {
	padding-bottom: 25px;
	height: 100px;
}

.flavors-nav{
	text-align: center;
	padding: 0 10px;
	width: 100px;
}

.flavors-nav:hover {
	text-decoration: underline 10px #E3FFDC;
	font-weight: bold;
}

.where-buy-nav{
	text-align: center;
	padding: 0 10px;
	width: 150px;
}

.where-buy-nav:hover {
	text-decoration: underline 10px #F275D4;
	font-weight: bold;
}

.about-us-nav{
	text-align: center;
	padding: 0 10px;
	width: 100px;
}

.about-us-nav:hover {
	text-decoration: underline 10px #CCCCFF;
	font-weight: bold;
}

/* Tagline */

.stripes-1 {
	background-image: url("../images/stripes-2.jpg");
 	background-position: center center;
 	background-size: cover;
	height:  50px;
}

.tagline {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #e0cbb8;
	color: white;
}

.cone-drawing {
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	background-color: white;
	height: 190px;
	width: 150px;
	margin: 50px 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cone-drawing img {
	height: 150px;
	margin-top: 20px;
}

.tagline-text {
	border-left: white solid 1px;
	padding-left: 30px;
	width:  500px;
}

.tagline-text h1 {
	color: #002F70;
	font-size: 48px;
	margin-top: 0;
	margin-bottom:  0;
}

/* Tagline - Responsive*/

@media (max-width: 768px) {
	.cone-drawing {
		border-top-left-radius: 75px;
		border-top-right-radius: 75px;
		height: 125px;
		width: 100px;
		margin: 25px;
	}

	.cone-drawing img {
		height: 100px;
		text-align: center;
	}

	.tagline-text {
	    width:  500px;
	    padding: 0 25px 5px 25px;
	    border-left: 0;
	}

	.tagline-text h1 {
		font-size: 40px;
		text-align: center;
		margin-bottom: 10px;

	}
}

/* Flavors */

.ice-cream-flavors-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ice-cream-flavors-1, .ice-cream-flavors-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 25px;
	width: 35%;
}

.ice-cream-descr {
	display: inline-block;
	text-align: center;
}

.ice-cream-descr h2 {
	margin: 0;
}

.ice-cream-pics img {
	height: 400px;
}

.flavor-icon {
 
}

.flavor-icon-move {
	height: 125px;
}

.flavor-list {
	display:  grid;
	grid-template-columns: 200px 200px;
	gap: 25px;
	text-align: center;
	align-items: center;
	font-size: 16px;
}

.flavor {
	background-color: #CCCCFF;
	padding: 5px;
	border: 2px solid transparent;
}

.flavor:hover {
	font-weight: 600;
	background-color: white;
	border-color: #CCCCFF;
	cursor: pointer;
}

.strawberry {
	background-color: #F275D4;
}

.strawberry:hover {
	border-color: #F275D4;
}

.vanilla {
	background-color: #E3FFDC;
}

.vanilla:hover {
	border-color: #E3FFDC;
}

.chocolate {
	background-color: #CCCCFF;
}

.chocolate:hover {
	border-color: #CCCCFF;
}

.cookies-cream {
	background-color: #99ECFF;
}

.cookies-cream:hover {
	border-color: #99ECFF;
}

.fudge-swirl {
	background-color: #E0CBB8;
}

.fudge-swirl:hover {
	border-color: #E0CBB8;
}

.cookie-dough {
	background-color: #FFFCD7;
}

.cookie-dough:hover {
	border-color: #FFFCD7;
}


/*Flavors - Responsive*/

@media (max-width: 768px) {
	.ice-cream-flavors-main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		margin-top: 25px;
	}

	.ice-cream-flavors-1 {
		margin: 5px;
		width: 100%;
	}

	.ice-cream-flavors-2 {
		margin: 0;
		font-size: 14px;
		width: 100%;
	}

	.flavor-list {
		display: grid;
		grid-template-columns: 150px 150px 150px;
		gap: 10px 5px;
		font-size: 13px;
	}

}


/* Reviews */


.customer-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #99ECFF;
	margin: 10px 0;
	height: 250px;
}

.customer-review h4 {
	margin: 20px;
}

.review-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:  500px;
}

.rev-name-score-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 20px 0;
	width: 500px;
	font-weight: bold;
}


.review-score-1 {
   display: inline-flex;
   align-items: center;
}


.review-score-1 img {
	height: 15px;
	margin-left: 10px;
}

/* Reviews - Responsive*/

@media (max-width: 768px) {

	.customer-review {
		margin-top: 15px;
		height: 250px;
	}

	.customer-review h4 {
		margin: 0;
		font-size: 30px;
	}

	.review-1 {
		width: 400px;
		margin-top: 20px;
	}

	.rev-name-score-1 {
		width: 400px;
	}

}

/* Ingredients */

.ingredients {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 35px 0;
	height: 400px;
}

.ingredient-text {
	width: 30%;
	/*margin-left: 10px;*/
}

.ingredient-text h5 {
	margin: 0 0 20px 0;
}

.base-ingred {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap:  wrap;
	padding-left: 35px;
	width: 30%;
}

.base {
	margin: 35px;
	background-color
}


