/*Site colors
	Tan-Brown: e0cbb8;
	Green: E3FFDC;
	Pink: F275D4;
	Purple: CCCCFF;
	Aqua: 99ECFF;
	Dark Blue: 002F70;
	*/

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Montserrat:wght@400;600&display=swap');

body {
	font-family: "Monstserrat", sans-serif;
	font-size: 18px;
	color: #002F70;
	margin: 0;
}

h1 {
	font-family: 'Londrina Solid', cursive;
}

h2, h3, h4, h5, h6 {
	font-family: 'Londrina Solid', cursive;
	font-size: 35px;
}

/*Navigation*/

.nav-bar {
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: center;
	height: 250px;
}

.logo-nav {
	padding-bottom: 25px;
	height: 100px;
}

.nav-items {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.nav-name {
	text-align: center;
	padding: 0 10px;
	width: 125px;
	text-decoration: none;
	color: #002F70;
}

.nav-name a {
	text-decoration: none;
	color: #002F70;
}

.flavors-nav a:hover {
	text-decoration: underline 10px #E3FFDC;
	font-weight: 600;
}


.ingredients-nav a:hover {
	text-decoration: underline 10px #F275D4;
	font-weight: 600;
}


.store-nav:hover {
	text-decoration: underline 10px #CCCCFF;
	font-weight: 600;
}

/* Navigation - Responsive */

@media (max-width: 768px) {
	.nav-bar {
		flex-direction: row;
		justify-content: space-between;
		height: 75px;
		margin: 0;
		position:  fixed;
		top: 0;
		background-color: white;
	}

	.logo-nav {
		padding-bottom: 0;
		height: 50px;
	}

	.nav-items {
		justify-content: flex-start;
		font-size: 14px;
	}

	.nav-name {
		padding: 0;
		width: 100px;
	}

}

/* Tagline */

.stripes-1, .stripes-2 {
	background-image: url("../images/stripes-3.jpg");
 	background-position: center center;
 	background-size: cover;
	height: 20px;
}

.tagline {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #e0cbb8;
	color: white;
}

.cone-drawing {
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	background-color: white;
	height: 190px;
	width: 150px;
	margin: 50px 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cone-drawing img {
	height: 150px;
	margin-top: 20px;
}

.tagline-text {
	border-left: white solid 1px;
	padding-left: 30px;
	width:  500px;
}

.tagline-text h1 {
	color: #002F70;
	font-size: 48px;
	margin-top: 0;
	margin-bottom:  0;
}

/* Tagline - Responsive*/

@media (max-width: 768px) {
	.stripes-1 {
		margin-top: 75px;
	}

	.cone-drawing {
		border-top-left-radius: 75px;
		border-top-right-radius: 75px;
		height: 125px;
		width: 100px;
		margin: 25px;
	}

	.cone-drawing img {
		height: 100px;
		text-align: center;
	}

	.tagline-text {
	    width:  500px;
	    padding: 0 25px 5px 25px;
	    border-left: 0;
	}

	.tagline-text h1 {
		font-size: 40px;
		text-align: center;
		margin-bottom: 10px;

	}
}

/* Flavors */

.ice-cream-flavors-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ice-cream-flavors-1, .ice-cream-flavors-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 25px;
	width: 400px;
}

.ice-cream-text {
	display: inline-block;
	text-align: center;
}

#iceCreamHead {
	margin: 15px 0 5px 0;
	width: 375px;
	height: 40px;
}

#iceCreamDescr {
	margin: 0;
	width: 375px;
	height: 50px;
}

.ice-cream-pics {
	height: 400px;
}

.ice-cream-scoop {
	height: 400px;
}

.flavor-icon-change {
	height: 125px;
}

.flavor-list {
	display:  grid;
	grid-template-columns: 200px 200px;
	gap: 25px;
	text-align: center;
	align-items: center;
	font-size: 16px;
}

.flavor {
	background-color: #CCCCFF;
	padding: 5px;
	border: 2px solid transparent;
	transition: 0.2s ease-in-out;
	color: #002F70;
}

.flavor:hover {
	font-weight: 600;
	background-color: white;
	border-color: #CCCCFF;
	cursor: pointer;
}

.strawberry {
	background-color: #F275D4;
}

.strawberry:hover {
	border-color: #F275D4;
}

.vanilla {
	background-color: #FFFCD7;
}

.vanilla:hover {
	border-color: #FFFCD7;
}

.chocolate {
	background-color: #E0CBB8;
}

.chocolate:hover {
	border-color: #E0CBB8;
}

.cookies-cream {
	background-color: #99ECFF;
}

.cookies-cream:hover {
	border-color: #99ECFF;
}

.fudge-swirl {
	background-color: #E3FFDC;
}

.fudge-swirl:hover {
	border-color: #E3FFDC;
}

.cookie-dough {
	background-color: #CCCCFF;
}

.cookie-dough:hover {
	border-color: #CCCCFF;
}


/*Flavors - Responsive*/

@media (max-width: 768px) {
	.ice-cream-flavors-main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		margin-top: 25px;
	}

	.flavor-icon-change {
		display: none;
	}

	.ice-cream-flavors-1 {
		margin: 5px;
		width: 100%;
	}

	.ice-cream-flavors-2 {
		margin: 0;
		font-size: 14px;
		width: 100%;
	}

	.flavor-list {
		display: grid;
		grid-template-columns: 150px 150px 150px;
		gap: 10px;
		font-size: 13px;
	}

	.flavor {
		padding: 3px;
	}

}


/* Reviews */

.customer-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #99ECFF;
	height: 250px;
}

.customer-review h4 {
	margin: 20px;
}

.review-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
}

.rev-name-score-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 20px 0;
	width: 100%;
	font-weight: 600;
}


.review-score-1 {
   display: flex;
   align-items: center;
}


.review-score-1 img {
	height: 15px;
	margin-right: 15px;
}

/* Reviews - Responsive*/

@media (max-width: 768px) {

	.customer-review {
		margin-top: 15px;
		height: 250px;
	}

	.customer-review h4 {
		margin: 0;
		font-size: 30px;
	}

	.review-1 {
		width: 400px;
		margin-top: 20px;
	}

}

/* Ingredients */

.ingredients {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 35px 0;
	height: 400px;
}

.ingredient-text {
	width: 400px;
}

.ingredient-text h5 {
	margin: 0 0 20px 0;
}

.learn-more {
	text-decoration: none;
  background-color: #002F70;
  padding: 8px;
  width: 125px;
  color: white;
  border: 2px solid transparent;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

.learn-more:hover {
  background-color: white;
  color: #002F70;
  border: 2px solid #002F70;
  font-weight: 600;
}

.base-ingred {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	text-align: center;
	gap: 10px 0;
}

.base {
	margin: 25px 0;
	height: 100px;
	width: 150px;
}

.base img {
	margin:  0;
	height: 100px;
}

.base p {
	margin: 5px 0;
}

/* Ingredients -Rsponsive*/

@media (max-width: 768px) {
	.ingredients {
		flex-direction: column;
		margin: 45px;
		height: 325px;
		text-align: justify;
	}

	.ingredients h5 {
		text-align: center;
	}

	.ingredient-text {
		width: 400px;
	}

	.base-ingred {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: start;
		padding-left: 0px;
		margin-top: 20px;
	}

	.base {
		padding: 5px;
		margin-top: 15px;
		margin-left: 0;
		width: 100px;
		height: 75px;
	}

	.base img {
		height: 75px;
	}

}


/* Footer */

.footer-all {
	background-color: #E3FFDC;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter-sign {
	display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
  margin-left: 35px;
  font-size: 16px;
}

h6 {
	font-size: 30px;
	margin: 10px 0;
}


#emailInput {
	outline: 0;
	height: 30px;
	width: 240px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 2px solid #002F70;
	background-color: #E3FFDC;
}


#submitBtn {
  background-color: #002F70;
  padding: 8px;
  width: 75px;
  color: white;
  border: 2px solid transparent;
  margin-left: 5px;
  transition: 0.2s ease-in-out;
}

#submitBtn:hover {
  background-color: white;
  color: #002F70;
  border: 2px solid #002F70;
  font-weight: 600;
}

.additional-info {
	display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px 0px 50px 50px;
}

.more-info {
	display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
}

.more-info-list {
	width: 150px;
	padding: 10px 0;
	font-size: 20px;
	cursor: pointer;
}

.more-info-list:nth-child(2) {
	width: 125px;
}

.more-info-list:nth-child(3) {
	width: 75px;
}

.more-info-list:hover {
	font-weight: 600;
	text-decoration: underline 10px #F275D4;
}

.social-list-main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.social-list-sub {
	height: 25px;
	margin-right: 10px;
	height: 35px;
}

.social-list-sub img{
	height: 35px;
}


/* Footer - Responsive */

@media (max-width: 768px) {
	.stripes-2 {
		margin-top: 0;
	}


	.footer-all {
		flex-direction: column;
		height: 550px;
	}

	h6 {
		font-size: 30px;
		margin: 0
	}

	.newsletter-sign {
	  margin-top: 35px;
	  margin-left: 0;
	}

	.additional-info {
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	  margin: 40px 10px;
	  width: 100%;
	}

	.social-list-main {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social-list-sub {
		height: 25px;
		margin: 10px 20px 0 0;
	}

	.more-info {
		justify-content: center;
  	align-items: center;
		flex-direction: column;
		margin-top: 40px;
		width: 100%;
	}

	.more-info-list {
		text-align: center;
		font-size: 22px;
		margin: 0 10px;
		background-color: #FFFCD7;
		border-bottom: 1px solid black;
		width: 100%;
	}

	.more-info-list:nth-child(1) {
		border-top: 1px solid black;
	}

	.more-info-list:nth-child(2) {
		width: 100%;
	}

	.more-info-list:nth-child(3) {
		width: 100%;
	}

	.more-info-list:hover {
		text-decoration: none;
	}
}



